*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: cornflowerblue;
    font: normal 20pt Arial;
}

header{
    margin:20px;
}

header h1{
    text-align:center;
    color:#fff;
}
section{
    background: #fff;
    width:50%;
    margin:0 auto;
    padding:15px;
    border-radius:20px;
    box-shadow:rgba(0, 0, 0, 0.425) 10px 10px 40px;
}

form{
    text-align: center;
}

label{
    display: block;
    margin: 20px;
}

label input{
    font: normal 20pt Arial;
    outline: none;
    display: block;
    margin: 0 auto;
    width: 80%;
}

label input:focus{
    box-shadow: rgba(0, 0, 0, 0.26) 10px 10px 40px;
    border: 2px solid cornflowerblue;
}

input[type=button]{
    font: normal 20pt Arial;
    padding: 5px;
    margin: 10px;
}

div#score{
    margin: 20px;
    text-align: center;
}

div#score p{
    text-align: center;
}

div#score #score-p{
    font: normal 30pt Arial;
    margin: 15px;
}

div#score span{
    display: block;
}



footer{
    color:#fff;
    text-align: center;
    font-style:italic;
    margin:20px;
}