*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: cornflowerblue;
    font: normal 15pt Arial;
}

header{
    margin:20px;
}

header h1{
    text-align:center;
    color:#fff;
}
section{
    text-align: center;
    background: #fff;
    width:80%;
    margin:0 auto;
    padding:15px;
    border-radius:20px;
    box-shadow:rgba(0, 0, 0, 0.425) 10px 10px 40px;
}


div#msg, form label, form input, div#res-photo{
    font: normal 20pt Arial;
    margin: 20px 0;
}

div#res-photo p{
    background: rgb(87, 168, 114);
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.671) 10px 10px 30px;
}

#res-img{
    width:80%;
    margin: 20px 0;
}

footer{
    color:#fff;
    text-align: center;
    font-style:italic;
    margin:20px;
}