body{
    font-family: "Poppins", sans-serif;
}

header, main, footer p{
    width: 70%;
    margin: 0 auto;
}

header{
    text-align: center;
    margin: 40px auto;
}

header h1{
    font-size: 3em;
    margin-bottom:20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.module{
    width: 80%;
    height: 320px;
    background-color: #323330;
    margin:20px auto;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.module:hover{
    background-color: var(--yellow);
}

.module-a{
    width: 100%;
    height: 100%;
    padding: 10px;

    color: var(--yellow); 
    text-decoration: none;
    text-align:center;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border:5px solid var(--black);
}

.module-a:hover{
    color: var(--black);
}

.module-a-h2{
    font-size: 8em;
}
.module-a-h3{
    font-size: 1.5em;
}
.module-a-h3{
    font-size: 1em;
}

footer{
    padding:20px;
    width: 100%;
    background-color:var(--black);

    position: fixed;
    bottom:0;
}

footer p{
    font-size:1.4em;
    color: var(--white);
    margin: 0 auto;
    text-align: center;
}

footer p a{
    color: var(--yellow);
    text-decoration: none;
    transition: 0.5s;
}

footer p a:hover{
    color:blue;
}

@media only screen and (max-width:400px){
    header, main, footer p{
        width: 80%;
    }
    header h1{
        font-size: 1.5em;
    }
    .module-a-h2{
        font-size: 4em;
    }
    footer p{
        font-size: 0.8em;
    }

}

@media only screen and (max-width:720px){
    header h1{
        font-size: 2em;
    }
    .module{
        width: 100%;
    }
    .module-a-h2{
        font-size: 6em;
    }
    footer p{
        font-size: 1em;
    }
}

@media only screen and (min-width:720px){
    nav{
        flex-direction: row;
        flex-wrap:wrap
    }
    .module{
        width: 45%;
    }
}

@media only screen and (min-width:1400px){
    .module{
        width: 30%;
    }
}

@media only screen and (max-width: 1400px){
    footer{
        position: inherit;
    }
}

